<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row justify-content-center">
        <div class="col-md-10 col-sm-9">
            <div class="card">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-1">
                            <div class="pr-3 row justify-content-end">
                                <div class="fa fa-heart like like-checked"></div>
                            </div>
                            <div class="product-pic"> <img class="pic1" src="\assets\Acer.jpeg"> </div> <small class="category">Phone</small>
                            <h5 class="product-name">Acer Laptop</h5>
                            <div class="row px-3 justify-content-between">
                                <p class="price">50000</p>
                               
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-1">
                            <div class="pr-3 row justify-content-end">
                                <div class="fa fa-heart like"></div>
                            </div>
                            <div class="product-pic"> <img class="pic1" src="\assets\Laptop.jpeg"> </div> <small class="category">Phone</small>
                            <h5 class="product-name">Mac Book Pro</h5>
                            <div class="row px-3 justify-content-between">
                                <p class="price">$100000</p>
                                <div class="stars"> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-1">
                            <div class="pr-3 row justify-content-end">
                                <div class="fa fa-heart like"></div>
                            </div>
                            <div class="product-pic"> <img class="pic2" src="\assets\dellLatitude.jpg"> </div> <small class="category">Phone</small>
                            <h5 class="product-name">Dell Latitude</h5>
                            <div class="row px-3 justify-content-between">
                                <p class="price">100000</p>
                                <div class="stars"> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star"></span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-1">
                            <div class="pr-3 row justify-content-end">
                                <div class="fa fa-heart like"></div>
                            </div>
                            <div class="product-pic"> <img class="pic2" src="\assets\lenovo.jpg"> </div> <small class="category">Phone</small>
                            <h5 class="product-name">Lenovo</h5>
                            <div class="row px-3 justify-content-between">
                                <p class="price">65000</p>
                                <div class="stars"> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star"></span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-1">
                            <div class="pr-3 row justify-content-end">
                                <div class="fa fa-heart like"></div>
                            </div>
                            <div class="product-pic"> <img class="pic2" src="\assets\Dell Touch Display.jpg"> </div> <small class="category">Phone</small>
                            <h5 class="product-name">Dell Touch Display</h5>
                            <div class="row px-3 justify-content-between">
                                <p class="price">80000</p>
                                <div class="stars"> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star"></span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-1">
                            <div class="pr-3 row justify-content-end">
                                <div class="fa fa-heart like"></div>
                            </div>
                            <div class="product-pic"> <img class="pic3" src="\assets\Laptop hp.jpeg"> </div> <small class="category">Phone</small>
                            <h5 class="product-name">Hp Laptop</h5>
                            <div class="row px-3 justify-content-between">
                                <p class="price">70000</p>
                                <div class="stars"> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
 
 
