
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row justify-content-center">
        <div class="col-md-10 col-sm-9">
            <div class="card">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-1">
                            <div class="pr-3 row justify-content-end">
                                <div class="fa fa-heart like like-checked"></div>
                            </div>
                            <div class="product-pic"> <img class="pic1" src="\assets\mobile OnePlus.jpeg"> </div> <small class="category">Shoes</small>
                            <h5 class="product-name">OnePlus</h5>
                            <div class="row px-3 justify-content-between">
                                <p class="price">50000</p>
                                <div class="stars"> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-1">
                            <div class="pr-3 row justify-content-end">
                                <div class="fa fa-heart like"></div>
                            </div>
                            <div class="product-pic"> <img class="pic1" src="\assets\samsung-galaxy-a52.jpg"> </div> <small class="category">Shoes</small>
                            <h5 class="product-name">Samsung Galaxy A52</h5>
                            <div class="row px-3 justify-content-between">
                                <p class="price">$100000</p>
                                <div class="stars"> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-1">
                            <div class="pr-3 row justify-content-end">
                                <div class="fa fa-heart like"></div>
                            </div>
                            <div class="product-pic"> <img class="pic2" src="\assets\vivo.webp"> </div> <small class="category">Bags</small>
                            <h5 class="product-name">Vivo</h5>
                            <div class="row px-3 justify-content-between">
                                <p class="price">100000</p>
                                <div class="stars"> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star"></span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-1">
                            <div class="pr-3 row justify-content-end">
                                <div class="fa fa-heart like"></div>
                            </div>
                            <div class="product-pic"> <img class="pic2" src="\assets\Phone1.jpeg"> </div> <small class="category">Bags</small>
                            <h5 class="product-name"></h5>
                            <div class="row px-3 justify-content-between">
                                <p class="price">65000</p>
                                <div class="stars"> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star"></span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-1">
                            <div class="pr-3 row justify-content-end">
                                <div class="fa fa-heart like"></div>
                            </div>
                            <div class="product-pic"> <img class="pic2" src="\assets\Oppo a53.jpg"> </div> <small class="category">Bags</small>
                            <h5 class="product-name">Dell Touch Display</h5>
                            <div class="row px-3 justify-content-between">
                                <p class="price">80000</p>
                                <div class="stars"> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star"></span> </div>
                            </div>
                        </div>
                    </div>
                    div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-1">
                            <div class="pr-3 row justify-content-end">
                                <div class="fa fa-heart like"></div>
                            </div>
                            <div class="product-pic"> <img class="pic3" src="\assets\Xiaomi-Redmi-Note-9-Pro-5G-1.jpg"> </div> <small class="category">Accessories</small>
                            <h5 class="product-name">Hp Laptop</h5>
                            <div class="row px-3 justify-content-between">
                                <p class="price">70000</p>
                                <div class="stars"> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

 
 
